header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-image: url(https://img.freepik.com/premium-photo/blue-paper-linkedin-abstract-background_608068-5090.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(126, 40, 54);
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    color: rgb(130, 67, 189);
    font-weight: bold;
}